<html>
 	<body>
 		<table>
 			{{#currentprojects}} 

            <tr>
                            <td>1</td>
                            <td>{{project_name }}</td>
                             <td>{{Type}}</td>
             </tr>
   
            {{/currentprojects}}
        </table>
     </body>
  </html>