 <html>
 	<body>
 		<table>
 			{{#myteam}} 

            <tr>
                <td>{{provider_name}}</td>
                <td>{{PhoneNumber}}</td>
                <td>{{TypeOfService}}</td>
                             
             </tr>
   
            {{/myteam}}
        </table>
     </body>
  </html>