 <html>
 	<body>
 		<table>
 			  {{#reviews}} 

            <tr>
                <td>{{provider_name}}</td>
                <td>{{PhoneNumber}}</td>
                <td>{{TypeOfService}}</td>
                <td>{{Review}}</td>
                             
             </tr>
   
            {{/reviews}}
        </table>
     </body>
  </html>