<html>
 	<body>
 		<table>
 			{{#specificproject}} 

            <tr>
                            <td>1</td>
                            <td>{{Name}}</td>
                             <td>{{Type}}</td>
                             <td>{{Area}}</td>
                             <td>{{Location}}</td>
                             <td>{{Project_status}}</td>
             </tr>
   
            {{/specificproject}}
        </table>
     </body>
  </html>
